*{
   
}

.content{

}

.navbar-bottom{
    height: 200px;
    background-color: gray;
    display: flex;
    align-items: center;
}
.navbar-bottom .navbar-map {
}
.navbar-bottom .navbar-map iframe{
    height: 200px;
    width: 50%;
}