*{
   margin: 0px;
} 

.navbar-top{
padding-top: 5px;
background-color: green;
}

.navbar-top .navbar-menu{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar-top .navbar-left a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}


.navbar-top .navbar-right a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
.navbar-top #logo{
    background-color: white;
    height: 30px;
    margin-right: 20px;
}
.navbar-top .navbar-menu a{
    text-decoration: none;
    color: black;
}
.content{
    background-color: green;
    margin: 0 auto;
}

.content .banner-section{
    display: flex;
    
 }

.content .banner-img img {
    width: 100%;
    height: 400px;
}

.content .banner-img img#png{
    margin-left: 40px;
    
}
.navbar-bottom{
    height: 200px;
    width: 90%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-bottom .navbar-map {
    
}
.navbar-bottom .navbar-map iframe{
    height: 200px;
    width: 80%;
}